stages:
  - build
  - package
  - tag

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_NAME: primebot/arash-external-api

build-develop:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login $DOCKER_REGISTRY -u $DOCKER_USER -p $DOCKER_PASS
  script:
    - docker build -t $DOCKER_REGISTRY/$IMAGE_NAME:dev-$CI_COMMIT_SHORT_SHA .
    - docker tag $DOCKER_REGISTRY/$IMAGE_NAME:dev-$CI_COMMIT_SHORT_SHA $DOCKER_REGISTRY/$IMAGE_NAME:dev-latest
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:dev-$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:dev-latest
  only:
    - dev

# Build and push Docker image for release branches
build-release:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login $DOCKER_REGISTRY -u $DOCKER_USER -p $DOCKER_PASS
  script:
    - export RELEASE_VERSION=$(echo $CI_COMMIT_REF_NAME | sed 's/release\///')
    - docker build -t $DOCKER_REGISTRY/$IMAGE_NAME:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA .
    - docker tag $DOCKER_REGISTRY/$IMAGE_NAME:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA $DOCKER_REGISTRY/$IMAGE_NAME:release-latest
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:release-latest
  only:
    - /^release\/.*$/

# Build and push Docker image for hotfix branches
build-hotfix:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login $DOCKER_REGISTRY -u $DOCKER_USER -p $DOCKER_PASS
  script:
    - export HOTFIX_VERSION=$(echo $CI_COMMIT_REF_NAME | sed 's/hotfix\///')
    - docker build -t $DOCKER_REGISTRY/$IMAGE_NAME:$HOTFIX_VERSION-$CI_COMMIT_SHORT_SHA .
    - docker tag $DOCKER_REGISTRY/$IMAGE_NAME:$HOTFIX_VERSION-$CI_COMMIT_SHORT_SHA $DOCKER_REGISTRY/$IMAGE_NAME:hotfix-latest
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:$HOTFIX_VERSION-$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:hotfix-latest
  only:
    - /^hotfix\/.*$/
  when: manual

# Build and push Docker image for main branch (production)
build-main:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login $DOCKER_REGISTRY -u $DOCKER_USER -p $DOCKER_PASS
  script:
    - docker build -t $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker tag $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA $DOCKER_REGISTRY/$IMAGE_NAME:latest
    - docker tag $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA $DOCKER_REGISTRY/$IMAGE_NAME:prod-latest
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:latest
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:prod-latest
  only:
    - main

# Build and push Docker image with version tag (triggered by tags)
build-version:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login $DOCKER_REGISTRY -u $DOCKER_USER -p $DOCKER_PASS
  script:
    - echo "Building version $CI_COMMIT_TAG"
    - docker build -t $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_TAG .
    - docker tag $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_TAG $DOCKER_REGISTRY/$IMAGE_NAME:latest
    - docker tag $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_TAG $DOCKER_REGISTRY/$IMAGE_NAME:prod-latest
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:$CI_COMMIT_TAG
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:latest
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:prod-latest
  only:
    - tags
  except:
    - branches


# Build Docker image for feature branches (optional - no push)
build-feature:
  stage: build
  image: docker:24.0.5-dind
  services:
    - docker:24.0.5-dind
  script:
    - docker build -t $DOCKER_REGISTRY/$IMAGE_NAME:feature-$CI_COMMIT_SHORT_SHA .
  only:
    - /^feature\/.*$/
  when: manual
